@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

html, body {
    overflow-x: hidden;
    width: 100%;
}

@media screen {
    @include media-breakpoint-up(md) {
        body {
            min-height: 100vh;
        }

        .icon-md-100 {
            width: 100% !important;
            height: auto !important;
        }
    }

    @include media-breakpoint-up(md) {
        body {
            min-height: 100vh;
        }
    }

    @include media-breakpoint-down(md) {
        body {
            -webkit-overflow-scrolling: touch;
        }
    }

    @include media-breakpoint-up(lg) {
        .h-lg-100 {
            height: 100%;
        }
    }
}

@each $size, $length in $sizes {
    .max-vw-#{$size} {
        max-width: #{$size}vw !important;
    }

    .min-vw-#{$size} {
        min-width: #{$size}vw !important;
    }

    .max-vh-#{$size} {
        max-height: #{$size}vh !important;
    }

    .min-vh-#{$size} {
        min-height: #{$size}vh !important;
    }
}

@each $color, $value in $colors {
    @include text-emphasis-variant(".text-#{$color}", $value, true);

    .bg-#{$color} {
        background-color: $value;
    }

    .bg-gradient-#{$color} {
        background: $value linear-gradient(180deg, $value, darken($value, 10%)) repeat-x !important;
    }

    .text-#{$color} {
        color: $value;
    }

    .icon-#{$color} {
        --fa-primary-color: #{$value};
        --fa-secondary-color: #{lighten($value, 20%)};
    }
}

.icon-theme {
    --fa-primary-color: #{$primary};
    --fa-secondary-color: #{$secondary};
}

.icon-100 {
    width: 100% !important;
    height: auto !important;
}

$font-family-serif: 'Roboto Slab', serif !default;

.font-size-lg {
    font-size: $font-size-lg;
}

.font-size-sm {
    font-size: $font-size-sm;
}
.font-size-base {
    font-size: $font-size-base;
}

h1, h2, h3 {
    font-family: $font-family-serif;
}

h1 {
    color: $primary;
}

h2, h3 {
    color: $secondary;
}

#logo {
    height: 3rem;
}

@mixin nav-project($color) {
    a {
        &, &:focus, &:active {
            color: $color;
        }

        &:hover {
            color: darken($color, 20%);
        }

        font-size: $font-size-lg;
    }
}

#nav-framework {
    @include nav-project($purple);
}

#nav-web {
    @include nav-project($blue);
}

#nav-docs {
    @include nav-project($orange);
}

#hero {
    background: $blue linear-gradient(180deg, $blue, $purple) repeat-x !important;
}

.product-wordmark {
    width: 3em;
}

.product-icon {
    font-size: $font-size-base * 1.5;
    margin-left: -($font-size-base * 0.75);
}

#footer {
    background: $secondary linear-gradient(180deg, $purple, $secondary) repeat-x !important;
}