@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

html, body {
    overflow-x: hidden;
    width: 100%;
}

@media screen {
    @include media-breakpoint-up(md) {
        body {
            min-height: 100vh;
        }

        .icon-md-100 {
            width: 100% !important;
            height: auto !important;
        }
    }

    @include media-breakpoint-down(md) {
        body {
            -webkit-overflow-scrolling: touch;
        }
    }

    @include media-breakpoint-up(lg) {
        .h-lg-100 {
            height: 100%;
        }
    }
}

@each $size, $length in $sizes {
    .max-vw-#{$size} {
        max-width: #{$size}vw !important;
    }

    .min-vw-#{$size} {
        min-width: #{$size}vw !important;
    }

    .max-vh-#{$size} {
        max-height: #{$size}vh !important;
    }

    .min-vh-#{$size} {
        min-height: #{$size}vh !important;
    }
}

@each $color, $value in $colors {
    @include text-emphasis-variant(".text-#{$color}", $value, true);

    .bg-#{$color} {
        background-color: $value;
    }

    .bg-gradient-#{$color} {
        background: $value linear-gradient(180deg, $value, darken($value, 10%)) repeat-x !important;
    }

    .text-#{$color} {
        color: $value;
    }

    .icon-#{$color} {
        --fa-primary-color: #{$value};
        --fa-secondary-color: #{lighten($value, 20%)};
    }
}

.icon-theme {
    --fa-primary-color: #{$primary};
    --fa-secondary-color: #{$secondary};
}

.icon-100 {
    width: 100% !important;
    height: auto !important;
}

$font-family-serif: 'Roboto Slab', serif !default;

.font-size-lg {
    font-size: $font-size-lg;
}

.font-size-sm {
    font-size: $font-size-sm;
}
.font-size-base {
    font-size: $font-size-base;
}

h1, h2, h3 {
    font-family: $font-family-serif;
    &:not(:first-child) {
        margin-top: $spacer * 1.5;
    }
}

h1 {
    color: $primary;
}

h2, h3 {
    color: $secondary;
}

#logo {
    height: 3rem;
}

@mixin nav-project($color) {
    a {
        &, &:focus, &:active {
            color: $color;
        }

        &:hover {
            color: darken($color, 20%);
        }

        font-size: $font-size-lg;
    }
}

#nav-framework {
    @include nav-project($purple);
}

#nav-web {
    @include nav-project($blue);
}

#nav-docs {
    @include nav-project($orange);
}

#hero {
    background: $blue linear-gradient(180deg, $blue, $purple) repeat-x !important;
}

.product-wordmark {
    width: 3em;
}

.product-icon {
    font-size: $font-size-base * 1.5;
    margin-left: -($font-size-base * 0.75);
}

#footer {
    background-color: darken($purple, 40%);
}

$sections: () !default;
$sections: map-merge(
    (
        "web": $blue,
        "docs": $orange,
        "framework": $purple,
        "blog": $gray-600
    ),
    $sections
);

@each $section, $color in $sections {
    .section-#{$section} {
        #titlebar {
            background-color: darken($color, 15%);

            .section {
                color: darken($color, 5%);
                font-size: $h6-font-size;
            }

            .title {
                line-height: 0.9em;
                font-family: $font-family-serif;
                font-size: $h3-font-size;
            }
        }

        .sidebar-nav-item {
            padding-top: $spacer * 0.5;
            padding-bottom: $spacer * 0.5;
            font-weight: $font-weight-bold;

            &.has-children {
                margin-bottom: 0;
            }

            &.active a {
                color: $gray-600;

                @include hover-focus-active() {
                    color: $gray-600;
                }
            }
        }

        .sidebar-nav-children {
            background-color: $gray-100;
            border-left: ($border-width * 3) solid $gray-300;
            padding-left: $spacer;
            margin-bottom: $spacer;
            display: none;

            @include media-breakpoint-up(md) {
                display: block;
            }

            &.active {
                display: block;
            }
        }

        .sidebar-nav-child {
            padding-top: $spacer * 0.5;
            padding-bottom: $spacer * 0.5;

            &.active a {
                color: $gray-600;

                @include hover-focus-active() {
                    color: $gray-600;
                }
            }
        }
    }
}

.sidebar {
    border-bottom: $border-width solid $border-color;
    padding-bottom: $spacer * 1.5;
    margin-bottom: $spacer * 1.5;

    @include media-breakpoint-up(md) {
        & {
            border-right: $border-width solid $border-color;
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

/* Mermaid */
.mermaid {
    overflow: hidden !important;
    visibility: hidden !important;
    &[data-processed="true"] {
      visibility: visible !important;
    }
    min-height: 200px;
  
    svg {
      min-height: 200px;
    }
  }
  .node rect,
  .node circle,
  .node ellipse,
  .node polygon {
    fill: lighten($primary, 50%) !important;
    stroke: #000 !important;
  }
  .type-node rect,
  .type-node circle,
  .type-node ellipse,
  .type-node polygon {
    fill: lighten($primary, 30%) !important;
    stroke: #000 !important;
  }
  .cluster rect {
    fill: $gray-100 !important;
    stroke: $gray-300 !important;
  }