@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-white">Your imagination, your generator.</h1>
            <p class="lead">Statiq Framework is the world's most powerful static generation toolkit, allowing you to create a static generator that's exactly what <em>you</em> need.</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm">
        <div class="px-3 px-md-0">
            <div class="border bg-gradient-light p-3 mb-3">
                <a href="/framework"><h4 class="text-purple">Statiq Framework</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="border bg-gradient-light p-3 mb-3">
                <a href="/web"><h4 class="text-blue">Statiq Web</h4></a>
                <p>Sed vitae magna accumsan, aliquam felis vitae, pharetra dui.</p>
            </div>
            <div class="border bg-gradient-light p-3 mb-3">
                <a href="/docs"><h4 class="text-orange">Statiq Docs</h4></a>
                <p>Mauris sodales urna et urna aliquam pulvinar.</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <h3>Recent Blog Posts</h3>
    </div>
</div>
