ArchiveSources: "news/posts/*"
ArchiveKey: Topic
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"news/topics/{GetString("GroupKey")}/index.html" : $"news/topics/{GetString("GroupKey")}/{GetInt("Index")}.html"
ArchivePageSize: 10
ArchiveOrderKey: Published
ArchiveOrderDescending: true
Title: Topics
ArchiveTitle: => Outputs[$"news/topics/{GetString("GroupKey")}.yml"].First().GetString("Title")
NoChildPages: true
---
@if (Document.ContainsKey(Keys.GroupKey))
{
    <p>@(Outputs[$"news/topics/{Document.GetString(Keys.GroupKey)}.yml"].First().GetString("Description"))</p>
    @Html.Partial("_Posts", Document)
}
else
{
    @foreach (IDocument topic in Document.GetChildren())
    {
        <div>
            <div class="p-3 mb-2 bg-light page-box">
                <h4>@Html.DocumentLink(topic)</h4>
                <p>@(Outputs[$"news/topics/{topic.GetString(Keys.GroupKey)}.yml"].First().GetString("Description"))</p>
            </div>
        </div>
    }
}