ArchiveSources: "blog/posts/*"
ArchiveKey: Topic
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"blog/topics/{GroupKey}/index.html" : $"blog/topics/{GroupKey}/{GetInt("Index")}.html"
ArchivePageSize: 10
ArchiveOrderKey: Published
ArchiveOrderDescending: true
Title: Topics
ArchiveTitle: => Outputs["Data"][$"blog/topics/{GroupKey}.yml"]["Title"]
NoSidebar: => !ContainsKey("GroupKey")
---
@if (Document.ContainsKey(Keys.GroupKey))
{
    <p>@(Outputs[nameof(Data)][$"blog/topics/{Document.GetString(Keys.GroupKey)}.yml"].GetString("Description"))</p>
    @Html.Partial("/_posts.cshtml", Document)
}
else
{
    @foreach (IDocument topic in Document.GetChildren())
    {        
        <div>
            <div class="p-3 mb-2 bg-light page-box">
                <h4>@Html.DocumentLink(topic)</h4>
                <p>@(Outputs[nameof(Data)][$"blog/topics/{topic.GetString(Keys.GroupKey)}.yml"].GetString("Description"))</p>
            </div>
        </div>
    }
}