ArchiveSources: "blog/posts/*"
ArchiveKey: Topic
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"blog/topics/{GroupKey}/index.html" : $"blog/topics/{GroupKey}/{GetInt("Index")}.html"
ArchivePageSize: 10
ArchiveOrderKey: Published
ArchiveOrderDescending: true
Title: Topics
ArchiveTitle: => Outputs["Data"][$"blog/topics/{GroupKey}.yml"].GetString("Title")
NoSidebar: => !ContainsKey("GroupKey")
---
@if (!Document.ContainsKey(Keys.GroupKey))
{
    @foreach (IDocument post in Document.GetChildren())
    {
        <p>@Html.DocumentLink(post)</p>
    }
}
else
{
    @foreach (IDocument topic in Document.GetChildren())
    {
        <p>@Html.DocumentLink(topic)</p>
    }
}