NoSidebar: true
NoChildPages: true
Title: Support The Project
---
@section Head
{
    <script src="https://js.stripe.com/v3/" data-no-mirror></script>
}

<div class="row">
    <div class="col-md-6 mb-5">
        <h1>Sponsor Development</h1>

        <div class="text-center my-3">
            <i class="fad fa-heart fa-5x icon-red"></i>
        </div>

<?# Markdown ?>
Statiq isn't developed by a big, faceless corporation or backed by mountains of venture captital.
It's mostly [Dave](https://github.com/daveaglick) and other awesome contributors spending lots of nights and weekends as a labor of love.

Development and support of Statiq (and it's precursor Wyam) has been steady for years and there are no plans to slow down.
In fact, there are some _big plans_ for Statiq in the future.
I hope to have a GitHub Sponsor account specifically for the Statiq project soon, but in the meantime if you appreciate this project and would like to show some support,
please consider [sponsoring Dave on GitHub Sponsors](https://github.com/sponsors/daveaglick).
<?#/ Markdown ?>

        <div>
            <a class="btn btn-danger" href="https://github.com/sponsors/daveaglick">Sponsor @@daveaglick on GitHub Sponsors</a>
        </div>

    </div>
    <div class="col-md-6 mb-5">
        <h1>Buy A Commercial-Use License</h1>

        <div class="text-center my-3">
            <i class="fad fa-check fa-5x icon-green"></i>
        </div>

<?# Markdown ?>
If you use the following Statiq projects for commercial purposes, a private license is required:

- [Statiq Web](xref:about-statiq-web)
- [Statiq Docs](xref:about-statiq-docs)

The cost for a private license is **$50.00 per developer** and covers all releases of the current major version. See the FAQ below for more details.
<?#/ Markdown ?>

        <div class="form-inline">
            <label class="mb-2 mr-2" for="quantityInput" class="mr-2">Number Of Developers:</label>
            <input id="quantityInput" type="number" min="1" onchange="changeQuantity(this.value)" value="1" inputmode="numeric" pattern="\d*" onkeyup="this.value=this.value.replace(/[^\d]+/,'')" class="mr-2 mb-2"></input>
            <button class="btn btn-primary" id="checkout-button-sku_H7XbjLJDzHVInz" role="link">Buy A Commercial-Use License</button>
        </div>
        <div id="error-message"></div>
    </div>
</div>

<?# Markdown ?>
<?!^ "https://raw.githubusercontent.com/statiqdev/Statiq.Web/master/LICENSE-FAQ.md" /?>
<?#/ Markdown ?>

@section Scripts
{
    <script>
        var quantity = 1;

        function changeQuantity(value) {
            quantity = value;
        }

        (function() {
            var stripe = Stripe('pk_live_4tiVivY5ixgmXsAuM5khf36i');
            
            var checkoutButton = document.getElementById('checkout-button-sku_H7XbjLJDzHVInz');

            checkoutButton.addEventListener('click', function () {
                // When the customer clicks on the button, redirect
                // them to Checkout.
                stripe.redirectToCheckout({
                    items: [{sku: 'sku_H7XbjLJDzHVInz', quantity: Number(quantity)}],
                    // Do not rely on the redirect to the successUrl for fulfilling
                    // purchases, customers may not always reach the success_url after
                    // a successful payment.
                    // Instead use one of the strategies described in
                    // https://stripe.com/docs/payments/checkout/fulfillment
                    successUrl: 'https://statiq.dev/support/thank-you',
                    cancelUrl: 'https://statiq.dev/support',
                })
                .then(function (result) {
                    if (result.error) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, display the localized error message to your customer.
                        var displayError = document.getElementById('error-message');
                        displayError.textContent = result.error.message;
                    }
                });
            });
        })();
    </script>
}