<li class="nav-item m-2 border-right d-none d-md-block"></li>
<li class="nav-item small">
    <a class="nav-link" href="https://github.com/statiqdev"><i class="fab fa-github"></i> GitHub</a>
</li>
<li class="nav-item small">
    <a class="nav-link" href="https://twitter.com/statiqdev"><i class="fab fa-twitter"></i> Twitter</a>
</li>
<li class="nav-item small">
    <a class="nav-link" href="https://github.com/statiqdev/Discussions/discussions"><i class="fad fa-question-circle"></i> Get Help</a>
</li>
<li class="nav-item small">
    <a class="nav-link font-weight-bold text-red" href="xref:support"><i class="fad fa-heart icon-red"></i> Support</a>
</li>