<div class="row">
    <div class="offset-lg-2 col-12 col-lg-8">
        <div class="text-light text-center">
            <a href="/docs" class="text-light pr-2 mr-1">Docs</a>
            <a href="/news" class="text-light pr-2 mr-1">News</a>
            <a href="/api" class="text-light pr-2 mr-1">API</a>
        </div>
        <div class="text-light text-center font-size-sm">
            <a href="https://github.com/statiqdev" class="text-light pr-2 mr-1"><i class="fab fa-github"></i> GitHub</a>
            <a href="https://twitter.com/statiqdev" class="text-light pr-2 mr-1"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="https://github.com/statiqdev/Discussions/discussions"><i class="fad fa-question-circle"></i> Get Help</a>
            <a class="text-light font-weight-bold" href="/support"><i class="fad fa-heart"></i> Support</a>
        </div>
        <div class="pt-2 font-size-sm text-muted text-center">
            © @DateTime.Today.Year Statiq/Dave Glick
        </div>
    </div>
</div>