<li class="nav-item">
    <a class="nav-link text-primary font-weight-light font-size-lg" href="/web">Web</a>
</li>
<li class="nav-item mx-3 border-right d-none d-md-block"></li>
<li class="nav-item">
    <a class="nav-link text-orange font-weight-light font-size-lg" href="/docs">Docs</a>
</li>
<li class="nav-item mx-3 border-right d-none d-md-block"></li>
<li class="nav-item">
    <a class="nav-link text-purple font-weight-light font-size-lg" href="/framework">Framework</a>
</li>