@* The document for the sidebar link is passed in as the model *@

<div class="sidebar-nav-item @(Document.IdEquals(Model) ? "active" : null) @(OutputPages.GetChildrenOf(Model).Any() ? "has-children" : null)">
    @if (Model.GetList<string>("Badge")?.Contains("Web") == true)
    {
        <text><?# WebBadge /?></text>
    }
    @if (Model.GetList<string>("Badge")?.Contains("Docs") == true)
    {
        <text><?# DocsBadge /?></text>
    }
    @Html.DocumentLink(Model)
</div>