@{
    Layout = @"/_layout.cshtml";
}

@section Subtitle {
    @if (Document.ContainsKey(WebKeys.Published))
    {
        <div>@Document.GetDateTime(WebKeys.Published).ToLongDateString()</div>
    }
}

@section Sidebar {
    <h3>Topics</h3>
    <ul>
    @foreach (IDocument topic in
        Outputs[nameof(Archives)]["blog/topics/index.html"]
            .GetChildren()
            .OrderByDescending(x => x.GetString(Keys.GroupKey)))
    {
        <li>@Html.DocumentLink(topic)</li>
    }
    </ul>
}

@RenderBody()