ArchiveSources: "news/posts/*"
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"news/index.html" : $"news/{GetInt("Index")}.html"
ArchivePageSize: 10
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveFilter: => GetString("Topic") != "release"
Title: Statiq News
BreadcrumbTitle: News
ArchiveTitle: => GetString("Title")
NoChildPages: true
---
@{
  IDocument webRelease = Outputs.FromPipeline(nameof(ReleaseNotes)).Where(x => x.GetString("Project") == "Statiq.Web").OrderByDescending(x => x.GetDateTime(WebKeys.Published)).FirstOrDefault();
  IDocument frameworkRelease = Outputs.FromPipeline(nameof(ReleaseNotes)).Where(x => x.GetString("Project") == "Statiq.Framework").OrderByDescending(x => x.GetDateTime(WebKeys.Published)).FirstOrDefault();
}
<div class="card text-white bg-dark mb-3">
  <div class="card-header">
    Latest Releases
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        <div class="card-title mb-0  text-muted small">Web</div>
        <p class="card-text">
          @if(webRelease is object)
          {
            <text>@Html.DocumentLink(webRelease, webRelease.GetString("Name"), new Dictionary<object, object> { { "class", "text-white" }})</text>
          }
        </p>
      </div>
      <div class="col-md">
        <div class="card-title mb-0 text-muted small">Docs</div>
        <p class="card-text text-muted">Coming Soon</p>
      </div>
      <div class="col-md mt-3 mt-md-0">
        <div class="card-title mb-0 text-muted small">Framework</div>
        <p class="card-text">
          @if(frameworkRelease is object)
          {
            <text>@Html.DocumentLink(frameworkRelease, frameworkRelease.GetString("Name"), new Dictionary<object, object> { { "class", "text-white" }})</text>
          }
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer small">
    @{
      IDocument releaseIndex = OutputPages["news/topics/release/index.html"].FirstOrDefault();
      if (releaseIndex is object)
      {
        <text>@Html.DocumentLink(releaseIndex, "View All Release Notes", new Dictionary<object, object> { { "class", "text-white" }})</text>
      }
    }
  </div>
</div>

@Html.Partial("_Posts", Document)